# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/dist

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package.dist.json
.npmrc
dist
_archive
**/*/_archive
mock
.env.development
__mock__
__mock__/guiss/.env
__mock__/guiss/package.json
__mock__/guiss/src/lib/components/domain/footer.js
__mock__/guiss/src/lib/components/domain/header.js
__mock__/guiss/src/lib/components/domain/master.js
__mock__/guiss/src/source/my-new-hobby-is-a-genuine-one/email.tsx
__mock__/guiss/src/source/my-new-hobby-is-a-genuine-one/i18n.json
__mock__/guiss/src/source/my-new-hobby-is-a-genuine-one/manifest.json
